/*
	main css for the Home Page
*/

body, h1, h2, h3, h4, h5, h6 { font-family: "Raleway", sans-serif; max-width:1800px; }
main {margin-left:300px;}
h6 {font-weight: bold; margin-top: 16px;}
img {width: 100%;}

.my-news { text-align: justify; }
.my-news p { font-size: 0.95em; }
footer img {width: 40%;}

#mySidebar {z-index:3;width:300px;}
#myOverlay {cursor:pointer}

.last-star {margin-right: 15px;}
.last {margin-left: 6px;}
a { text-decoration: none; }

sub {
	font-size: 0.4em;
}
.meme {
	position: relative; /* parent: relative to normal flow */
}
.meme img {
	position: absolute; /* child */
}
.meme h1, .meme h2 {
	position: relative;
	z-index: 100;
	text-align: center;
	font-weight: bold;
	margin: 0 auto;
}
.meme h1 {
	color: orange;
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	padding-top: 10px;
	text-transform: uppercase;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari */
    transform: rotate(-10deg);	
}
.meme h2 {
	color: #0090FF;
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	padding-top: 38px;
}